# Copy of .gitignore:
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/config/keys.json

# development
/development

# misc
.DS_Store
.env
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Source maps
*.map

.lambdaTestLog/
