$GREY: #4d4d4d;
$LIGHT_GREY: lighten($GREY, 50);
$DARK_GREY: darken($GREY, 10);
$SHADOW_COLOR: rgba(0, 0, 0, 0.05);
$SKELETON_COLOR: lightgrey;

$RESPONSIVE_MOBILE: 480px;
$RESPONSIVE_TABLETS: 767px;
$RESPONSIVE_LAPTOP: 1024px;
